html, body {
  height: 100%;
  width: 100%;
  background-color: grey;
}

h1,h2,h3 {
  text-align: center;
}

#wrapper {
  width: 80%;
  margin: auto;
  background-color: grey;
  box-shadow: 5px 10px 10px;
}

div {
  width: 90%;
  margin: auto;
}

.itembox {
  border: solid;
  border-radius: 25px;
  box-shadow: 5px 10px 10px;
  background-color: tan;
  color: brown;
  padding: 10px;
}

.favorite {
  border: dotted;
  border-radius: 25px;
  box-shadow: 5px 10px 10px;
  background-color: lightgreen;
  color: navy;
  padding: 10px;
}

ul.b {
  background-color:lightblue;
  list-style-type: circle;
}

ol.c {
  background-color: lightsalmon;
  list-style-type: lower-roman;
}

ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.a {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}